label{
    padding-left: 5px;
}
input{
    margin: 5px;
}

.engine {
    object-fit: contain;
}
img {
    width: 18%;
}
h1{
    display: none;
}
nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
}

nav>ul>li {
    color: white;
    font-family: 'PT Sans', sans-serif;
    padding: .7em;
}

nav>ul>li:hover {
    background-color: gray;
}

nav>ul>li:active, #navigation a.active {
    color: orange;
}
#navigation a.active {
    padding: inherit;
    
}
#navigation a {
    color: white;
    text-decoration: none;
    padding: inherit;
}

#menu-button {
    display: none;
    padding: 10px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.info {
    background-color: orange;
}

body p {
    font-size: 16pt;
    /* padding-bottom: 2em; */
}

body p a {
    text-decoration: underline;
    color: blue;
}

.form {
    background-color: orange;
    padding-bottom: 3em;
    font-size: 14pt;
}
.form p, .name, .email, .subject, .message, .info p {
    margin-top: 0;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;    
}
.message label {
    display: inline-block;
}
.name input, .email input, .subject input, .message textarea {
    width: 40%;
}
.name input {
    margin-left: 2.em;
    
}
.email input {
    margin-left: 2.8em;
}
.subject input {
    margin-left: 2.1em;
}
.message textarea {
    margin-top: -1.2em;
    margin-left: 7.5em;
    display: block;
}
.required {
    color: red;
}
.submit {
    margin-left: 10.3em;
    margin-top: 2em;
}

.slideshow-container {
    max-width: 22.5em;
    position: relative;
    margin: inherit;
}

.mySlides {
    display: none;
    margin-left: 2.8em;

}
.mySlides>img {
    /* height: 30em; */
    width: 100%;
    /* width: auto; */
    object-fit: contain;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: -1em;
  }
/* Position the "next button" to the right */
.next {
    right: 0;
    position: absolute;
    border-radius: 3px 0 0 3px;
}
.prev {
    margin-left: 2.65em;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: red;
    font-family: sans-serif;
    font-size: 14pt;
    padding: 8px;
    padding-right: 0px;
    position: absolute;
    bottom: 8px;
    width: 85%;
    text-align: left;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content: left;
  }
  
  .dot.active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media (max-width: 641px) {
    .logo {
        display: none;
    }
    header {
        background-color: #333;
        box-sizing: border-box;
        height: 60px;
        box-shadow: 0 -15px 10px 20px gray;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        display: inline;
        padding: 10px;
        color: white;
        font-size: 2em;
        font-family: 'PT Sans', sans-serif;
    }
    #menu-button {
        display: flex;
    }
    nav {
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
    }
    nav.open {
        display: flex;
    }
    nav>ul {
        flex-direction: column;
    }
    nav>ul>li {
        background-color: #333;
        border-top: 1px solid orange;
    }
    main {
        padding-top: 40px;
    }
    body {
        padding-top: 60px;
    }
    .next {
        margin-right: 3.7em;
    }
    .text, .numbertext, .dot {
        display: none;
    }
    .slideshow-container {
        margin-top: 1em;
    }
    .mySlides img {
        width: 80%;
    }
 }

@media(max-width: 440px) {
    h1 {
        padding: 10px;
        color: white;
        font-size: 1.5em;
        font-family: 'PT Sans', sans-serif;
    }
    .mySlides>img, .next, .prev, .text, .numbertext, .dot {
        display: none;
    }
}